
.main {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    
}

mat-list {
    width: 60%;

}

mat-list-item {
    &:hover {
        background-color: whitesmoke;
    }
}

.mb-20 {
    margin-bottom: 20px;
}

.action-btn:hover {
    transform: scale(1.3);
}

.completed {
    text-decoration: line-through;
    color: gray;
}